img {
    border-radius: 5px;
    width: 320px;
    height: 200px
}

.card-block {
    padding: 20px;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
}

.rowOfertas {
    margin-bottom: 70px;
}